div {
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
  }

h1 { 
  border-width:0px;
  border: dashed blue;
}

.top-div {
  width: 200px;
}

.inner-div {
  width: 100px;
  margin: 0 auto;
}

cite {
  color: red
}
body {
  color: white;
  background-color: black;
}